@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ede7db;
}

.heading{
  color: #cc5f4d;
  font-weight: 900;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 50s linear infinite;
}
.image {
  position: absolute; /* Ensure the element can be moved */
 
  animation: img 200ms ease-in-out 1; /* Infinite animation */
  transform-origin: center; /* Rotate around the center */
}

@keyframes img {
  0% {
    transform: rotate(-8deg) translate(-10%, 0%);
  }

  100% {
    transform: rotate(0deg) translate(0%, -0%);
  }
}


@keyframes logo2 {
  0% {
    width: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    width: 30px;
  }
  100% {
    width: 240px; /* Adjust based on your Tailwind w-60 equivalent */
    opacity: 1;
  }
}


.logo2{
  display:block; 
  position: absolute;

  animation: logoExpand 3s ease-in 1;
}
.logoHide{
  display: none;
}

.merriHead {
  font-weight: 600; 
  font-style: italic; 
  font-family: 'Merriweather', serif; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.servicePara{
  line-break: strict;
  font-style: italic;
  font-family: 'Merriweather', serif; 
  text-align: justify;
}

.bungeeHead{
  /* color: #cc5f4d; */
  font-weight: 900;
  font-family: 'Bungee Inline',sans-serif;
}
.services{
  font-size:18px;
  text-align: center;
  font-weight: 900;
  font-family: 'Bungee Inline',sans-serif;
}

.zoom{
  transition: transform 400ms ease-in;
  width:100%;
  height: auto;
}
.zoom:hover{
  transform: scale(1.1);
}